.first, .second, .third, .fourth{
    width: 100%;
    height: 100%;
    background-color: #808080;
	
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;;
}

.left-header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.right-header {
    font-size: 18px;
    color: #e5e7eb;
    gap: 28px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

/*all related to first div*/
.first {
	display: flex;
    background-color: #1f2937;
    padding: 58px 180px;
    
    font-size: 18px;
    color: #e5e7eb;
    align-items: center;
}

#awesome {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

p {
    width: 50%;
}

.right-first {
    flex: 1;

}
.box {
	border: solid blue;
	width: 60px;
	height: 60px;
}

.container {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.text-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.text {
	width: 50px;
}